PRINT_API_URL=
PRINT_API_TOKEN=
NEXT_PUBLIC_MUG_MODEL_URL=models/11oz-Mug.fbx
NEXT_PUBLIC_MUG_MODEL_FORMAT=fbx
NEXT_PUBLIC_MUG_MODEL_SCALE=1
NEXT_PUBLIC_MUG_MODEL_ROTATION_Y=3.141592653589793
NEXT_PUBLIC_MUG_MODEL_OFFSET_Y=0
NEXT_PUBLIC_MUG_BOTTOM_ART=
NEXT_PUBLIC_MUG_BOTTOM_ART_RADIUS=
NEXT_PUBLIC_MUG_BOTTOM_ART_Y=
